html, body {
	font-family: Arial, Helvetica, 'Trebuchet MS', Verdana, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	width: 100%;
}

code {
	font-family: 'Courier', Courier, monospace;
}
